<div id="contenedor">
   <h2>Peliculas Mas Vistas</h2>
    
 <div class="row container-fluid">
    <div *ngFor="let peliculas of listMoreViews" class="card-group col-3 w-30">
        <div class="card">
          <img src="{{peliculas.img}}" class=" card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{peliculas.nombre}}</h5>
            <p>{{peliculas.resumen}}</p>
            
          </div>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#'+ peliculas.id">
            VER MAS
          </button>
        </div>
      </div>
     
    </div>
      </div>
    
      <div *ngFor="let peliculas of listMoreViews">
      <div  class="modal fade" id="{{peliculas.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{peliculas.nombre}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>{{peliculas.resumen}}</p>
            </div>
            <div class="modal-footer">
              <button class="{{peliculas.id}} btn btn-secondary" type="button" (click)="addRent(peliculas.id)" >Alquilar</button>
              <button class="{{peliculas.id}} btn btn-primary" type="button" (click)="addBuy(peliculas.id)">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>