#login{
    
    display:flex;
    align-items:center;
    justify-content:center;
    
    
}
h1{
    text-align: center;
}
button{
    margin-top: 10px;
    background-color: #c8b6ff !important;
    border-color: #c8b6ff;
}